@charset "utf-8";

/* 바로가기 메뉴 */
#skip{
    position: relative;
}
#skip a{
    position: absolute;
    left: 0;
    top: -40px;
    width: 140px;
    border:1px solid #fff;
    color: #fff;
    text-align: center;
    background: #333;
    line-height: 30px;  
}
#skip a:active, #skip a:focus{
    top: 0;
}

/* 레이아웃 */
body{position:relative;}
#mNav{
    display:none;
    position:absolute;
    top:19px;
}
header{
    width: 100%;
    border-bottom:1px solid #c6c6c6;
}

footer{
    /* background:#211f1f; */
    background: #FFA443;
}


/* 가운데 영역 */
.container{
    position:relative;
    width: 1280px;
    margin: 0 auto;
    /* background: rgba(0,0,0,0.1); */
}

/* 로우 영역 */
.row{
    padding:0 24px;
}

/* 모바일 메뉴 */
.ham{
    display:block;
    width: 25px;
    height: 22px;
    z-index:99;
    position: relative;
    right:10px;
}
.ham span:first-child{
    display: block;
    width: 25px;
    height:4px;
    background: rgb(255, 115, 86);  
    position: absolute;  
    transition:all .4s;
    left:0;
    top:9px;
}
.ham span:nth-child(2){
    content:"";
    display: block;
    width: 25px;
    height: 4px;
    background: rgb(255, 115, 86);  
    position: absolute;
    top:0;
    left:0;
    transition:all .4s;
}
.ham span:nth-child(3){
    content:"";
    display: block;
    width: 25px;
    height: 4px;
    background: rgb(255, 115, 86);  
    position: absolute;
    bottom:0;
    left:0;
    transition:all .4s;
}
.ham.movement span:first-child{
    opacity:0;
}
.ham.movement span:nth-child(2){
    -webkit-transform: translateY(7px) rotate(45deg);
    transform: translateY(7px) rotate(45deg);
}
.ham.movement span:nth-child(3){
    -webkit-transform: translateY (-7px) rotate (-45deg);
    transform: translateY(-11px) rotate(-45deg);
}
header #mNav .mob_main_menu{
    display: block;
    height:auto;
    width:300px;
    position: absolute;
    z-index:998;
    height:100vh;
    background-color: #fff;
    padding:100px 30px;
    top:-50px;
    left:50px;
    z-index:96;
    transition:all .4s;
    opacity:0;
}
header #mNav .mob_main_menu.open{
    left:-300px;
    opacity:1;
}
header #mNav .mob_main_menu+.overlay{
    transition:all .4s;
}
header #mNav .mob_main_menu.open+.overlay{
    width:130vw;
    height:110vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top:-30px;
    left:-100vw;
    z-index:95;
}
header #mNav .mob_main_menu > li{
    float:none;
    border-bottom:1px solid #fb4357;
    width:100%;
    text-align:left;
}
header #mNav .mob_main_menu > li a{
    padding:30px 0;
}


/* 헤더 영역 */
header{
    background-color: #fff;
    border-bottom:3px solid #fb4357;
    padding:12px 0;
}
.header h1 {
    float: left;
}
.header h1 em { 
    padding:0;
    display:inline-block;
}
.header h1 em img { 
    width: 120px;
}
.header h1:hover strong{
    color:rgb(85, 85, 85);
}
.header h1 strong {
    display:block;
    position:absolute;
    font-weight:200;
    font-size:18px;
    left: 170px;
    bottom: 5px;
    letter-spacing:5px;
}
.header h1 strong img{
    width: 157px;
}
.header nav { 
    float: right;
}
.header nav ul{}
.header nav ul li{
    float: left;
    width: 103px;
    text-align: center;
}
.header nav ul li a{
    display: block;
    padding:18px 0 0 0;
    font-size: 17px;
    font-weight:400;
    color:#444;
}
.header nav ul li a:hover{
    font-weight:500;
    color:rgb(255, 115, 86);
}

/* 준비중 영역 */
#prepare{
    width:100%;
    height:70vh;
}
.text{
    margin:0 auto;
    text-align:center;    
}
.text img{
    width:auto;
    padding:20vh 0 0 0;
}

/* 푸터 영역 */
.footer-sns{
    position: absolute;
    right: 17px;
    top: 33px;
    z-index:1;
}
.footer-sns ul li{
    display:inline-block;
}
.footer-sns ul li a{ 
    width: 36px;
    height: 36px;
    display:block;
}
.footer-sns ul li.s1{ background-position: 0 -375px;}
.footer-sns ul li.s2{ background-position: -36px -375px;}
.footer-sns ul li.s3{ background-position: -72px -375px;}
.footer-sns ul li.s4{ background-position: -108px -375px;}
.footer-sns ul li.s5{ background-position: -144px -375px;}
.footer-sns ul li.s1:hover{ background-position: 0 -411px;}
.footer-sns ul li.s2:hover{ background-position: -36px -411px;}
.footer-sns ul li.s3:hover{ background-position: -72px -411px;}
.footer-sns ul li.s4:hover{ background-position: -108px -411px;}
.footer-sns ul li.s5:hover{ background-position: -144px -411px;}
.footer-sns .tel{
    text-align: right;
    padding:5px 0 0 0;
}
.footer-sns .tel a{
    color:#fff;
    font-size: 21px;
}
.footer-sns .tel a em{
    color:#fff;
}

.footer-info{
    padding:50px 0;
    width: 80%;
}
.footer-info h2 img{
    width: 100px;
}
.footer-info ul{
    padding:15px 0;
}
.footer-info ul li{
    display:inline; 
    padding:0 16px 0 0;
    white-space:nowrap;
    position: relative;
}
.footer-info ul li::after{
    content:"";
    position: absolute;
    right: 5px;
    top: 5px;
    width: 1px;
    height: 11px;
    background:#fff;
}
.footer-info ul li:last-child::after{
    display:none;
}
.footer-info ul li a{
    color:#fff;
}
.footer-info address p{
    color:#fff;
}
